body {
  background-color: #fff;
  font-family: "Akkurat", Arial, sans-serif;
  margin: 0 auto;
}


.styled-select {
  display: inline-block;
  overflow: hidden;
  padding: 6px 12px;
  margin-right: 20px;
  border-radius: 25px;
  cursor: pointer;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 6px 12px 6px 2px;
   width: 160px;
}

/* this hides the select dropdown option */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
}


/*  Rounded Corners  */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

/*  Colors: Background  */

.color { background-color: #E4E4E4; }
.color:hover   { background-color: black; }

/*  Colors: Text  */
.color select   { color: #4A4A4A; }
.color:hover select { color: #fff; }

